[aria-label="User Settings"]
  > [class^="clickTarget_"]
  > [class^="copiableWrapper_"]
  > [class^="childWrapper_"]
  > [class^="info_"]::before {
  content: "Evergarden " + $dcommit;
  color: var(--text-muted);
  font-family: var(--font-primary);
  font-size: 12px;
  line-height: 1.3333333333333333;
  font-weight: 400;
  text-transform: none;
}
