$rosewater: #e3a8d1;
$flamingo: #e3a8d1;
$pink: #e3a8d1;
$mauve: #d6a0d1;
$red: #e67e80;
$maroon: #e67e80;
$peach: #e69875;
$yellow: #dbbc7f;
$green: #b2c98f;
$teal: #93c9a1;
$sky: #97c9c3;
$sapphire: #9bb5cf;
$blue: #9bb5cf;
$lavender: #d6a0d1;
$text: #dddecf;
$subtext1: #caccbe;
$subtext0: #94aaa0;
$overlay2: #839e9a;
$overlay1: #738a8b;
$overlay0: #617377;
$surface2: #4f5e62;
$surface1: #3d494d;
$surface0: #313b40;
$base: #232a2e;
$mantle: #1c2225;
$crust: #171c1f;
